# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
.pytest_cache/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Datasets
application/fed-learn/data/datasets/*.csv

# Node
node_modules/
jspm_packages/

# Compiled TypeScript files
dist

# Key and cert files
*.crt
*.key
*.pem

# VScode
.vscode/

# Hyperledger files
builders/
bin/
!network/organizations/**/*.sh
network/organizations/fabric-ca/*
network/organizations/peerOrganizations/*
network/organizations/ordererOrganizations/*

## CC packages
network/**/*.tar.gz
network/**/log.txt

## Channel
*.block

# IPFS
ipfs-conf/*

# Local model checkpoint
model_ckpt/